:root{
  --bold: 'Amaranth', sans-serif;
  --normal: 'Roboto Mono', monospace;
  --bg-background: #FFF6BD;
  --bg-button: #CEEDC7;
  --bg-button-hover: #86C8BC;
  font-size: 2vmin;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--bold);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 500vh;

}


/* Estilos para el navbar  */
.nav{
  display: flex;
  justify-content: space-between;
  color: rgb(3, 97, 66);
  position: sticky;
  top: 0;
  background-color: #FFF6BD;
  align-items: center;
  padding: 0px 20px;
  max-height: 8vh;
}

.nav > div {
  display: flex;
  
  /* Aplica a todos los elementos hijos */
  gap: 10px;
}

.nav > div > h3 {
  cursor: pointer;
  background-color: var(--bg-button);
  border-radius: 8px;
  padding: 6px;
}

.nav > div > h3:hover {
  background-color: var(--bg-button-hover);
  color: rgb(3, 235, 236);
  border-radius: 5px;
  transition: all 0.5s ;
}

.nav a {
  text-decoration: none;
  color: inherit
}


/* Estilos HOME PAGE  */

.home a{
  text-decoration: none;
  color: inherit
}

/* Estilos para LOGIN PAGE*/
.login {
  /* align-items: center; */
}
.login div{
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  align-items: center;
  margin-bottom: 1px;
  line-height: 10px;
}

.login input{
  margin-left: 0.5vmin;
  max-height: 3.5vmin;
  font-size: 1.5vmin;
}